table th {
        background-color: #A4C6FF;
        padding: 10px 20px;
    }
 
    table td {
        background-color:#D9E5FF;
        padding: 10px 20px;
    }
 
    .notice {
        background-color: #D9E5FF;
        padding: 5px;
    }
    
    h3 {
        font-size:30px;
    }
    
    .suke {
        text-decoration: none;
    }
    
    .kakunin {
        text-decoration: none;
    }
    
    .hensyu {
        text-decoration: none;
    }
    
    .sakuzyo {
        text-decoration: none;
    }
    
    .itiran {
        text-decoration: none;
    }
    
    .touroku {
        height:30px;
    }
